@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.DisplayFlex {
    display: flex;
}

.dark2 {
    color: rgb(66, 66, 66);
}

.dark1 {
    color: rgb(19, 19, 19);
}

.dark3 {
    color: rgb(114, 114, 114);
}

.bgLIte {
    background-color: #FF900E1A;
}

.btnPrimary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;

}

.textPrimary {
    color: #FF900E;
}

.sectionTitle {
    font-size: 2.8rem;
    font-weight: 700;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* Header Styles */



/* nav Styles */
.navBar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.navItem {
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
}

.navLink {
    text-decoration: none;
    font-weight: 500;
}

.navBar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */

.bannerContent {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.bannerTitle {
    font-size: 4rem;
    font-weight: 700;
}

.bannerDescription {
    font-size: 1rem;
    font-weight: 400;
}

.bannerImage {
    width: 100%;
}

/* Teams and features related styles */

.teams {
    align-items: center;

}

.temImageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.ourFeatures {
    margin-left: 130px;
    max-width: 530px;
}

.featureTitle {
    font-size: 2.8rem;
    font-weight: 700;
}

#quickList {
    font-weight: 500;
}

/* Feature Related Styles */
.features{
    gap: 100px;
}
#featureBorder {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.featureCard {
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 8px;
}

.featureTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featureDescription {
    font-size: 1rem;
    font-weight: 400;
}
#experienceBadge{
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: -80px;
    margin-top: -100px;

}
#experienceYear{
    font-weight: 700;
    font-size: 4rem ;
}


/* Fact Related Style */

.factsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    max-width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.factNUmber {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.factName {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}

.factDescription {
    max-width: 540px;
    font-size: 1rem;
    font-weight: 400;
}

/* Sponsors Related STyles */

.sponsorInfo {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsorsCompany {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsorsCompany img {
    filter: grayscale(100%);
}

/* Footer Styles */
    footer{
        max-width: 1440px;
        align-items: center;
        margin: 100px auto;
        
        
    }

    .footerContent{
        padding: 30px 400px;
        background-color: #FFF4E7;
        border-radius: 10px;
        font-weight: 400px;
        font-size: 1rem;
        text-align: center;

        
    }

/* Responsive   Media Query */
@media screen and (max-width:576px) {

    .navBar,
    .teams , .features {
        flex-direction: column;
    }

    .temImageContainer,
    .factsContainer,
    .sponsorsCompany {
        grid-template-columns: repeat(1, 1fr);
    }

    .ourFeatures {
        margin-left: 20px;
    }

    .factsContainer {
        justify-items: center;
        gap: 24px;
    }

    .fact {
        padding: 10px;
    }

    .sponsorsCompany {
        justify-items: center;
        gap: 30px;
    }
    .featureArchitect img{
        width: 100%;
    }
    #experienceBadge{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* Footer Styles */

    .footerContent{
        padding: 30px 20px;
        background-color: #FFF4E7;
        border-radius: 10px;
        text-align: center;

        
    }
}


/* Medium size device */

@media screen and (min-width:576px) and (max-width:992px) {

    .teams {
        flex-direction: column;
    }

    .ourFeatures {
        margin-left: 50px;
    }

    .sponsorsCompany,.factsContainer ,{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experienceBadge{
        margin-top: 20px;
        margin-left: 200px;
        
    }
    .features{
        flex-direction: column;
        align-items: center;
    }
    .footerContent{
        padding: 30px 100px;
        background-color: #FFF4E7;
        border-radius: 10px;
        text-align: center;

        
    }



}